/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* Grid system */

.container {
	width: 960px;
	padding-left: 14px; 
	padding-right: 14px;
	margin: 0px auto;
}

.row {
	margin-left: -14px;
	margin-right: -14px;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }



/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.5%;
}

.span_6_of_8 {
  	width: 75%;
}

.span_5_of_8 {
  	width: 62.5%;
}

.span_4_of_8 {
  	width: 50%;
}

.span_3_of_8 {
  	width: 37.5%;
}

.span_2_of_8 {
  	width: 25%;
}

.span_1_of_8 {
  	width: 12.5%;
}