/*----------------------------------------------------------------------------GENERAL ------------*/
* {
    /*outline: 1px solid rgba(255, 0, 0, 0.31);*/
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: "Arima Madurai", serif;
}
.contenedor {
    margin: 0 180px;
}
.row {
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}
/*---------------------------------------------------------------------------- HEADER ------------*/
header ul {
    list-style: none;
    text-align: center;
    padding: 15px;
    margin: 0;
}
header li {
    display: inline-block;
}
header li a {
    color: #3e3e3e;
    padding: 0 30px;
    font-size: 22px;
}
header li a:hover {
    color: #449fd8;
    text-decoration: none;
}
/*------------------------------------------------------------------------------ HERO ------------*/
.hero {
    animation: fabi 8s infinite;
}
@keyframes fabi {
    0%, 32% {
        background: url(../images/background.jpg) no-repeat;
        background-attachment: scroll;
        background-size:auto;
        min-height: 500px;
        position: relative;
    }
    33%, 65% {
        background: url(../images/background1.jpg) no-repeat;
        background-attachment: scroll;
        background-size:cover;
        min-height: 500px;
        position: relative;
    }
    66%, 100% {
        background: url(../images/background2.jpg) no-repeat;
        background-attachment: scroll;
        background-size:cover;
        min-height: 500px;
        position: relative;
    }
}
.hero .centro {
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 140px;
}
.hero h1, h3 {
    margin: 0;
    padding: 10px;
}
/*----------------------------------------------------------------------------- ABOUT ------------*/
.contenido {
    padding: 80px 0;
    background: url(../images/tile1.png) repeat;
    background-attachment: scroll;
    background-size:contain;
}
.contenido .perfil {
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 4px;
}
/*------------------------------------------------------------------------- FAVORITOS ------------*/
.favoritos {
    padding: 80px 0;
}
.favoritos h3 {
    text-align: center;
    margin-bottom: 15px;
}
.favoritos .like {
    border: 2px solid rgba(137, 22, 188, 0.9);
    padding: 4px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.favoritos .lik {
    text-align: center;
    margin-top: 10px;
}
/*---------------------------------------------------------------------------- FOOTER ------------*/
footer {
    padding: 80px 0;
    background: url(../images/tile2.png) repeat;
    background-attachment: scroll;
    background-size:auto;
}
footer ul {
    list-style: none;
    text-align: center;
    padding: 15px;
    margin: 0;
}
footer li {
    display: inline-block;
    padding: 0 15px;
}











